div#container {
    height: 40px;
}

header div svg {
    margin-left: 120px;
    height: 80px;
    width: 150px;
}

div.split2 div {
    text-align: right;
}

header div a {
    color: white;
    font-size: 120%;
    text-decoration: none;
    margin-left: 20px;
}

header div span a {
    color: lightslategray;
    font-size: 120%;
    text-decoration: none;
}

header div :hover {
    color: rgb(26, 165, 26);
    text-decoration: none;
}

div.wide {
    text-align: left;
    margin-right: 20px;
}

article {
    width: 1352px;
    height: 800px;
    background-color: rgb(56, 56, 182);
    margin-left: -10px;
    margin-top: -150px;
}

article h1 {
    color: rgb(65, 207, 65);
    font-size: 150px;
    font-style: normal;
}

article p {
    color: rgb(57, 163, 57);
    font-size: 23px;
}