div#container {
    height: 40px;
}

header div svg {
    margin-left: 120px;
    height: 80px;
    width: 150px;
}

div.split2 div {
    text-align: right;
}

header div a {
    color: white;
    font-size: 120%;
    text-decoration: none;
    margin-left: 20px;
}

header div span a {
    color: lightslategray;
    font-size: 120%;
    text-decoration: none;
}

header div :hover {
    color: rgb(26, 165, 26);
    text-decoration: none;
}

div.wide {
    text-align: left;
    margin-right: 20px;
}

article {
    width: 100%;
    height: 800px;
    background-color: rgb(56, 56, 182);
    
    margin-top: -150px;
}

article h1 {
    color: rgb(65, 207, 65);
    font-size: 150px;
    font-style: normal;
}

article p {
    color: rgb(57, 163, 57);
    font-size: 23px;
}


body{margin: 0;}



footer{
    
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background: black;
    box-sizing: border-box;
    height: 530px;
}

.footer-links {
    padding: 0;
    margin: 0;
    display: flex;
    grid-column: 5/ 9;
    grid-row: 2 / 4;
}

.footer-links > ul > li > a{
    color: white;
    text-decoration: none;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    font-size: 1rem; 
}  
 

.footer-links + li{
   padding-top: 20px;
}

.footer-links > ul {
    list-style-type: none;
    }

.footer-links > ul > li > a:hover{
    color: #1ed760;
}
    
ul, li {
    margin-bottom: 10px;
    font-weight: bold;
}


.footer-links-2 {
    display: flex;
    flex-wrap:wrap;
    grid-column:4 /9;
    grid-row: 6 ;
    display: inline-block;
    align-self: center;
   
    
    
    

}
.footer-links-2 > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.footer-links-2 > a {
    color: #919496;
    font-size: 0.75rem;
    font-weight: normal;
    margin-right: 10px;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
}

.spotify-logo{
   fill: white;
    width: 8rem;
    grid-column: 4 / 5;
    grid-row: 2;
    margin: 0;
    padding: 0;
}

.lang {
    fill: white;
    color: #919496;;
    grid-column: 7 / 11;
    grid-row: 6 ;
    justify-self: end;
    align-self:start;
    
}

.lang > a{
    text-decoration: none;
    color: #919496;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    font-size: 0.73rem;
}


.lang-2{
    color: white;
    grid-column: 7 / 11;
    grid-row: 6 ;
    justify-self: end;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    align-self: center;
}

.lang-2 {
    color: #919496;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    font-size: 0.73rem;
    
}

ul{
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    color: #919496;
    font-size: 0.75rem;
    margin: 0;
}

.fontcolor > a:hover{
   
    color: #1ed760;
   
}

.lang > a:hover{
    color: #1ed760;
}

.social {width: 30px;
    fill: white;
    grid-column: 8 / 11 ;
    grid-row: 2;
    justify-self: center;
    margin-left: 80px;
    border-radius: 100%;
    padding: 10px;
}
.twitter-logo:hover{
    fill: #1ed760;
}
.insta-logo:hover{
    fill: #1ed760;
}

 .insta-logo{
    
    width: 30px;
    fill: white;
    grid-column: 8 / 11 ;
    grid-row: 2;
    justify-self: center;
    margin-left: 80px;
   
    border-radius: 100%;
     background-color: #222326;
    padding: 10px;
}

.twitter-logo{
    width: 30px;
    fill: white;
    grid-column: 10 / 11 ;
    grid-row: 2;
    justify-self: start;
    
    border-radius: 100%;
     background-color: #222326;
    padding: 10px;
    
    
    
    
}

@media all and (max-width: 480px) {
    
    footer{display: grid;
        height: 800px;
        
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);}
    
    .spotify-logo{
        grid-column: 1 / 2;
        grid-row: 1 / 2 ;
        align-self: center;
    }
    
    .footer-links{
        
        grid-column: 1 / 3;
        grid-row: 2 / 6;
        flex-wrap: wrap;
    }
    
    ul > li {
        margin-bottom: 5px;
    }
    
    .footer-links-2{
        grid-column: 1 / 3;
        grid-row: 7;
        align-self: start;
        
    }

    .lang-2{
        margin: 0;
        grid-row: 7;
        align-self: start;
    }

    .lang{
        grid-row: 6;
        align-self: end;
    }
} 
